.error{
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
} 

.page__daccueil{
    max-width: 1500px;
    margin-left: 5%;
    margin-right: 5%;
}
/* header */
/* nav{
    margin-bottom: 5%; 
} */

/* Carroussel */
.d-block{
    object-position:center;
    object-position: right;
    height: 40%;
}

img{
    width: 300px;
    height: 20rem;
    object-fit: cover;
}

ul a{
    text-decoration: none;
    color: black;
}

ul{
    margin-top: 10%;
}

.card{
    max-width: 100%;
}

.card-title{
    font-weight: bold;
}

.card-price{
    text-align: right;
}

/* Footer */

.img__cartedepayement{
    width: 150px;
    height: 100px;
}

.cartesdespayements{
    margin-bottom: 2%;
}

/* .cartesdespayements{
    display: flex;
    margin-right: 5%;
} */

/* Page produits */
.img-fluid{
    height: 100% !important;    
    object-fit: unset;
}

.page__produit{
    max-width: 1200px;
    margin-left: 5%;

}

.container__produit{
    margin-top: 5%;
}


.photo-panier{
    width: 50px;
    height: 50px;
}


/*Formulaire*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap'); 

.form-body{
    background-color: violet;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    margin: 0;
}

.contenue{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.3);;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.header{
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.header h2{
    margin: 0;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;    
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
        
}

.form-control i{
    position: absolute;
    top: 50px;
    right: 20px;
    visibility: hidden;
}

.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small{
    color: #fff;
    visibility: visible;
    margin-left:10px ;
}

.form button{
    /* background-color: #810d05;
    border: 2px solid #8e44ad; */
    border-radius: 4px;
    color: white;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}